.lunch {
  width: 100%;
  max-width: 1440px;
  background-image: url(../img/bottle.svg);
  background-size: 182px 314px;
  background-position: center right;
  background-repeat: no-repeat;

  &__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 12px 14px;
  }
  &__title {
    margin-bottom: 16px;
    font-size: px-to-em(14);
    line-height: lh-to-pct(18, 14);
    font-weight: 900;
    color: #FF540D;
    text-align: center;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid #FF540D;
  }
  &__left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__dish-text {
    display: flex;
    font-size: px-to-em(20);
    line-height: lh-to-pct(26, 20);
    font-weight: 900;
    color: #B1F83C;
    text-transform: uppercase;
    &:last-child {
      display: flex;
      flex-direction: column;
    }
    &--tea {
      font-size: px-to-em(8);
      line-height: lh-to-pct(11, 8);
    }
  }
  &__right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    border-left: 2px solid #FF540D;
  }
  &__discount-text {
    margin-bottom: 8px;
    font-size: px-to-em(10);
    line-height: lh-to-pct(14, 10);
    font-weight: 400;
  }
  &__comment {
    margin-bottom: 8px;
    font-size: px-to-em(8);
    line-height: lh-to-pct(10, 8);
    font-weight: 400;
    color: #FF540D;
  }
  &__reserve-btn {
    display: flex;
    align-items: center;
    margin-top: 2px;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid #B1F83C;
    font-size: px-to-em(13);
    line-height: lh-to-pct(17, 13);
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    svg {
      margin-left: 6px;
    }
  }
  &__price {
    font-size: px-to-em(20);
    line-height: lh-to-pct(26, 20);
    font-weight: 600;
    color: #B1F83C;
    text-transform: uppercase;
  }
  @media screen and (min-width: 360px) {
    &__right-block {
      width: 70%;
    }
  }
  @media screen and (min-width: 460px) {
    p.lunch__dish-text {
      display: flex;
      &:nth-of-type(1) {
        align-self: flex-end;
        grid-area: hot;
        transform: rotate(-90deg);
        margin-bottom: 6px;
        font-size: px-to-em(24);
      }
      &:nth-of-type(2) {
        grid-area: salad;
        margin-left: 4px;
        font-size: px-to-em(32);
      }
      &:nth-of-type(3) {
        flex-direction: row;
        align-items: flex-end;
        grid-area: soup;
        margin-left: 4px;
        font-size: px-to-em(32);
      }
    }
    &__dish-text--tea {
      margin: 0 0 6px 6px;
    }
    &__left-block {
      display: grid;
      grid-template-columns: 30px auto;
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      grid-template-areas:
        "hot ."
        "hot salad"
        "hot soup";
      justify-content: flex-start;
      align-items: center;
      margin-right: 10px;
    }
    &__right-block {
      max-width: 58%;
    }
    &__discount-text {
      font-size: px-to-em(14);
    }
    &__comment {
      font-size: px-to-em(12);
    }
    &__reserve-btn {
      font-size: px-to-em(14);
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
  @media screen and (min-width: 576px) {
    &__title {
      font-size: px-to-em(18);
    }
    p.lunch__dish-text {
      &:nth-of-type(1) {
        margin-bottom: 8px;
        font-size: px-to-em(28);
      }
      &:nth-of-type(2) {
        font-size: px-to-em(42);
      }
      &:nth-of-type(3) {
        font-size: px-to-em(42);
      }
    }
    span.about__dish-text--tea {
      margin: 0 0 6px 8px;
    }
    &__right-block {
      max-width: 60%;
    }
    &__discount-text {
      margin-bottom: 12px;
      font-size: px-to-em(16);
    }
    &__comment {
      font-size: px-to-em(12);
    }
    &__reserve-btn {
      font-size: px-to-em(16);
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &__price {
      font-size: px-to-em(24);
    }
  }
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    background-size: 250px auto;
    &__area {
      max-width: 860px;
    }
    &__left-block {
      align-self: flex-end;
      grid-template-columns: 34px auto;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "hot salad"
        "hot soup";
      justify-content: flex-start;
    }
    p.lunch__dish-text {
      &:nth-of-type(1) {
        margin-bottom: 0px;
        font-size: px-to-em(42);
      }
      &:nth-of-type(2) {
        margin-left: 7px;
        font-size: px-to-em(60);
      }
      &:nth-of-type(3) {
        margin-left: 7px;
        font-size: px-to-em(60);
      }
    }
    &__dish-text--tea {
      margin: 0 0 6px 10px;
    }
    &__right-block {
      justify-content: center;
      min-height: 204px;
    }
    &__reserve-btn {
      &:hover {
        border: 1.5px solid #FF540D;
      }
    }
    &__price {
      font-size: px-to-em(30);
    }
  }
  @media screen and (min-width: 992px) {
    background-size: 320px auto;
    &__area {
      max-width: 954px;
      padding: 20px 0 14px;
    }
    &__title {
      font-size: px-to-em(26);
    }
    &__left-block {
      grid-template-columns: 40px auto;
    }
    p.lunch__dish-text {
      &:nth-of-type(1) {
        font-size: px-to-em(50);
      }
      &:nth-of-type(2) {
        margin-left: 16px;
        font-size: px-to-em(75);
      }
      &:nth-of-type(3) {
        margin-left: 16px;
        font-size: px-to-em(75);
      }
    }
    &__right-block {
      margin: auto 0 20px 0;
      padding-left: 16px;
      justify-content: flex-end;
      min-height: 214px;
    }
    &__discount-text {
      margin: 0px 0px 18px;
      font-size: px-to-em(18);
    }
    &__comment {
      margin: 0px 0px 16px;
      font-size: px-to-em(16);
    }
    &__reserve-btn {
      padding: 18px;
      border-radius: 15px;
      font-size: px-to-em(18);
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    background-size: 400px auto;
    background-position: bottom right;
    &__title {
      font-size: px-to-em(30);
    }
    &__wrapper {
      justify-content: flex-start;
      border: none;
      padding-bottom: 0;
    }
    &__left-block {
      width: 60%;
      grid-template-columns: 46px auto;
      padding-bottom: 10px;
      border-bottom: 3px solid #FF540D;
    }
    p.lunch__dish-text {
      line-height: 120%;
      &:nth-of-type(1) {
        font-size: px-to-em(60);
      }
      &:nth-of-type(2) {
        margin-left: 16px;
        font-size: px-to-em(90);
      }
      &:nth-of-type(3) {
        margin: 0px 0px 30px 16px;
        font-size: px-to-em(90);
      }
    }
    &__right-block {
      margin-left: 20px;
      border-left: 3px solid #FF540D;
    }
    &__discount-text {
      font-size: px-to-em(20);
    }
    &__comment {
      font-size: px-to-em(18);
    }
    &__reserve-btn {
      padding: 24px;
      font-size: px-to-em(24);
      svg {
        width: 22px;
        height: 22px;
        margin-left: 12px;
      }
    }
    &__price {
      align-self: flex-start;
      margin-left: 134px;
      font-size: px-to-em(40);
    }
  }
  @media screen and (min-width: 1440px) {
    background-size: 440px auto;
    &__title {
      margin-bottom: 20px;
      font-size: px-to-em(32);
    }
    &__discount-text {
      font-size: px-to-em(24);
    }
    &__comment {
      font-size: px-to-em(22);
    }
    &__reserve-btn {
      padding: 24px;
      font-size: px-to-em(26);
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
