mixin lunch(modifier)
  section.lunch&attributes(attributes)
    .lunch__area
      h2.lunch__title Бизнес ланч
      .lunch__wrapper
        .lunch__left-block
          p.lunch__dish-text Горячее
          p.lunch__dish-text Салат
          p.lunch__dish-text
            | Суп
            span.lunch__dish-text.lunch__dish-text--tea + чай
        .lunch__right-block
          p.lunch__discount-text Со вторника по пятницу до 18-00
          p.lunch__comment А так же
          p.lunch__discount-text Скидка на бар 10%
          a.lunch__reserve-btn(href="#reserve") 
            | Забронировать стол
            include ./img/lunch-arrow.svg
      .lunch__price 420 руб