mixin promo(modifier)
  section.promo&attributes(attributes)
    h2.promo__title Хочешь винный вечер?
    p.promo__action Голосуй за его проведение в нашем инстаграме и тогда:
    p.promo__text в пятницу с 18-00 игристые и обычные вина можно будет испить от&nbsp;160&nbsp;до&nbsp;450&nbsp;рублей за&nbsp;бокал
    .promo__link-container
      a.promo__link(href="#") Проголосовать