mixin promo(modifier)
  section.promo&attributes(attributes)
    h2.promo__title Хочешь винный вечер?
    p.promo__action Голосуй за его проведение в нашем инстаграме и тогда:
    p.promo__text в пятницу с 18-00 игристые и обычные вина можно будет испить от 160 до 450 рублей за&nbsp;бокал
    a.promo__link(href="#") Проголосовать