mixin main-screen(modifier)
  section.main-screen&attributes(attributes)
    img.main-screen__logo(src="img/logo.svg" alt="Logo")
    .main-screen__info
      h1.main-screen__title Green Poison
      p.main-screen__subtitle Место вкуса и эстетики
      p.main-screen__description Не пропустите шанс окунуться в&nbsp;мир вкусов и ароматов.
      a.main-screen__btn-reserve(href="#") Забронировать стол
    ul.main-screen__advantages
      li.main-screen__advantages-item.main-screen__advantages-item--bar Авторский бар от нашего маэстро
      li.main-screen__advantages-item.main-screen__advantages-item--food Авторская кухня в стиле фьюжн
      li.main-screen__advantages-item.main-screen__advantages-item--chair Невероятно уютная атмосфера
