.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    width: 96px;
    height: 138px;
    margin-bottom: 14px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px;
  }
  &__title {
    display: none;
  }
  &__subtitle {
    margin-bottom: 8px;
    font-size: 1em;
    line-height: lh-to-pct(21, 16);
    font-weight: 400;
    color: #FF540D;
    text-align: center;
    text-transform: uppercase;
  }
  &__description {
    max-width: 170px;
    margin-bottom: 12px;
    font-size: px-to-em(10);
    line-height: lh-to-pct(13, 10);
    font-weight: 400;
    text-align: center;
  }
  &__btn-reserve {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    border: 1.5px solid #B1F83C;
    font-size: px-to-em(13);
    line-height: lh-to-pct(17, 13);
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    svg {
      margin-left: 6px;
    }
  }
  &__advantages {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid #275026;
  }
  &__advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 68px;
    font-size: px-to-em(8);
    line-height: lh-to-pct(10, 8);
    font-weight: 400;
    text-align: center;
    &::before {
      content: "";
      width: 44px;
      height: 44px;
      margin-bottom: 4px;
      border-radius: 8px;
      background-color: #275026;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:not(:first-child) {
      margin-left: 42px;
    }
    &--bar {
      &::before {
        background-image: url(../img/bar-icon.svg);
      }
    }
    &--food {
      &::before {
        background-image: url(../img/food-icon.svg);
      }
    }
    &--chair {
      &::before {
        background-image: url(../img/chair-icon.svg);
      }
    }
  }
  @media screen and (min-width: 360px) {
    padding: 6px 12px 40px;
    
    &__logo {
      width: 120px;
      height: auto;
    }
    &__subtitle {
      font-size: px-to-em(18);
    }
    &__description {
      max-width: 200px;
      font-size: px-to-em(12);
    }
    &__advantages-item {
      max-width: 80px;
      font-size: px-to-em(10);
      &::before {
        width: 54px;
        height: 54px;
        background-size: 18px 18px;
      }
      &:not(:first-child) {
        margin-left: 38px;
      }
    }
  }
  @media screen and (min-width: 460px) {
    &__logo {
      width: 140px;
    }
    &__subtitle {
      font-size: px-to-em(22);
    }
    &__description {
      max-width: 260px;
      font-size: px-to-em(16);
    }
    &__btn-reserve {
      padding: 14px;
      border-radius: 12px;
      font-size: px-to-em(16);
      svg {
        width: 14px;
        height: 14px;
      }
    }
    &__advantages-item {
      max-width: 90px;
      font-size: px-to-em(12);
      &::before {
        width: 58px;
        height: 58px;
        background-size: 20px 20px;
      }
      &:not(:first-child) {
        margin-left: 56px;
      }
    }
  }
  @media screen and (min-width: 576px) {
    max-width: 660px;
    &__logo {
      width: 170px;
    }
    &__subtitle {
      font-size: px-to-em(24);
    }
    &__description {
      margin-bottom: 16px;
      max-width: 300px;
      font-size: px-to-em(18);
    }
    &__btn-reserve {
      font-size: px-to-em(18);
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &__advantages-item {
      max-width: 112px;
      font-size: px-to-em(14);
      &::before {
        width: 64px;
        height: 64px;
        background-size: 24px 24px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 970px;
    &__wrapper {
      flex-direction: row-reverse;
      justify-content: center;
      width: 100%;
    }
    &__logo {
      width: 210px;
      margin: 0 0 20px 100px;
    }
    &__info {
      align-items: flex-start;
      padding-top: 30px;
    }
    &__title {
      display: block;
      margin-bottom: 12px;
      font-size: px-to-em(40);
      line-height: lh-to-pct(52, 40);
      font-weight: 900;
      color: #B1F83C;
      text-transform: uppercase;
    }
    &__description {
      max-width: 330px;
      margin-bottom: 24px;
      font-size: px-to-em(20);
      text-align: start;
    }
    &__btn-reserve {
      &:hover {
        border: 1.5px solid #FF540D;
      }
    }
    &__advantages {
      padding-top: 12px;
    }
    &__advantages-item {
      max-width: 160px;
      font-size: px-to-em(14);
      &::before {
        width: 76px;
        height: 76px;
        border-radius: 12px;
      }
    }
  }
  @media screen and (min-width: 992px) {
    &__logo {
      width: 270px;
      margin: 0 0 30px 100px;
    }
    &__info {
      padding-top: 30px;
    }
    &__title {
      margin-bottom: 18px;
      font-size: px-to-em(52);
    }
    &__subtitle {
      font-size: px-to-em(32);
    }
    &__description {
      max-width: 400px;
      margin-bottom: 26px;
      font-size: px-to-em(24);
    }
    &__btn-reserve {
      padding: 20px;
      border-radius: 15px;
      font-size: px-to-em(22);
      svg {
        width: 20px;
        height: 20px;
      }
    }
    &__advantages {
      padding-top: 16px;
    }
    &__advantages-item {
      max-width: 200px;
      &::before {
        width: 84px;
        height: 84px;
        border-radius: 15px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 6px 0px 60px;
    &__wrapper {
      justify-content: space-between;
    }
    &__logo {
      width: 320px;
      margin: 0 0 32px 0;
    }
    &__title {
      margin-bottom: 20px;
      font-size: px-to-em(70);
    }
    &__subtitle {
      margin-bottom: 20px;
      font-size: px-to-em(40);
    }
    &__btn-reserve {
      padding: 24px;
      font-size: px-to-em(26);
      svg {
        width: 24px;
        height: 24px;
      }
    }
    &__advantages-item {
      max-width: 100%;
      &::before {
        width: 90px;
        height: 90px;
        margin-bottom: 12px;
        background-size: 30px 30px;
      }
    }
  }
}
