include ../blocks/header/header.pug
include ../blocks/main-screen/main-screen.pug
include ../blocks/concept/concept.pug
include ../blocks/about/about.pug
include ../blocks/lunch/lunch.pug
include ../blocks/product/product.pug
include ../blocks/top-menu/top-menu.pug
include ../blocks/promo/promo.pug
include ../blocks/contacts/contacts.pug
include ../blocks/footer/footer.pug
include ../blocks/menu/menu.pug
