mixin concept(modifier)
  section.concept&attributes(attributes)
    h2.concept__title Немного о нас
    +about("Наша концепция", "Основана на авторской кухне, так же неординарные позиции напитков и\u00A0алкогольные кофейные коктейли.", ["1image1", "1image2", "1image3", '1image4'], "Подпишитесь на наш инстаграм", "https://www.instagram.com/greenpoison_bar?igsh=YzVkODRmOTdmMw==", "ig")
    +about("Мы хотим", "Внести домашнюю атмосферу для каждого гостя, почувствовать себя в зоне комфорта и\u00A0качественного продукта.", ["1image1", "1image2", "1image3", '1image4'], "Больше фотографий в нашей группе", "https://vk.com/green_poisonspb", "vk")
