mixin contacts(modifier)
  section.contacts&attributes(attributes)
    h2.contacts__title Контакты
    .contacts__area
      .contacts__wrapper
        .contacts__block
          h3.contacts__subtitle Забронировать стол
          form.contacts__form
            input.contacts__field.contacts__field--name(type="text" placeholder="Как вас зовут? *" minlength="2" required)
            input.contacts__field.contacts__field--phone(type="text" placeholder="Номер телефона *" maxlength="12" required)
            .contacts__fields
              input.contacts__subfield(type="text" placeholder="День" onfocus="(this.type = 'date')")
              input.contacts__subfield(type="text" placeholder="Время" onfocus="(this.type = 'time')")
              input.contacts__subfield.contacts__subfield--big(type="number" placeholder="Количество персон" min="1" max="30")
            input.contacts__field(type="text" placeholder="Ваши пожелания")
            button.contacts__reserve-btn(type="submit") Забронировать стол
        img.contacts__map(src="", alt="")
      //- ul.contacts__list
      //-   li.contacts__item
      //-     h3.contacts__subtitle Звоните нам
      //-     p.contacts__text Мы всегда рады быстро и оперативно ответить на любой вопрос
      //-     a.contacts__link(href="tel:89633156134") +79633156134
      //-   li.contacts__item
      //-     h3.contacts__subtitle Пишите нам
      //-     p.contacts__text Оставляйте отзывы, пишите предложения и пожелания. Мы приветствуем контакт с гостями и всегда выходим на связь.
      //-     .contacts__links
      //-       a.contacts__link(href="#")
      //-       a.contacts__link(href="#") 
      //-   li.contacts__item
      //-     h3.contacts__subtitle Приходите к нам
      //-     p.contacts__text Не только встретим вас с душой и улыбкой, но и сделаем вечер классным и запоминающимся.
      //-     .contacts__info
      //-       a.contacts__link(href="#") Разъезжая 26-28Б
      //-       p.contacts__time Ежедневно с 12-00 до 02-00
