mixin contacts(modifier)
  section.contacts&attributes(attributes)#contacts
    h2.contacts__title Контакты
    .contacts__area
      .contacts__wrapper
        .contacts__block#reserve
          h3.contacts__subtitle Забронировать стол
          form.contacts__form
            input.contacts__field.contacts__field--name(type="text" placeholder="Как вас зовут? *" minlength="2" required)
            input.contacts__field.contacts__field--phone(type="text" placeholder="Номер телефона *" maxlength="12" required)
            .contacts__fields
              input.contacts__subfield(type="text" placeholder="День" onfocus="(this.type = 'date')")
              input.contacts__subfield(type="text" placeholder="Время" onfocus="(this.type = 'time')")
              input.contacts__subfield.contacts__subfield--big(type="number" placeholder="Количество персон" min="1" max="30")
            input.contacts__field(type="text" placeholder="Ваши пожелания")
            button.contacts__reserve-btn(type="submit") 
              | Забронировать стол
              include ./img/arrow.svg
        img.contacts__map(src="img/map.png", alt="")
      ul.contacts__list
        li.contacts__item
          h3.contacts__subtitle Звоните нам
          .contacts__content
            p.contacts__text Мы всегда рады быстро и&nbsp;оперативно ответить на&nbsp;любой вопрос
            a.contacts__link.contacts__link--phone(href="tel:89633156134")
              span.contacts__link-text +79633156134
        li.contacts__item
          h3.contacts__subtitle Пишите нам
          .contacts__content
            p.contacts__text Оставляйте отзывы, пишите предложения и&nbsp;пожелания. Мы&nbsp;приветствуем контакт с&nbsp;гостями и&nbsp;всегда выходим на&nbsp;связь.
            .contacts__links
              a.contacts__link.contacts__link--vk(href="#")
              a.contacts__link.contacts__link--ig(href="#") 
        li.contacts__item
          h3.contacts__subtitle Приходите к нам
          .contacts__content
            p.contacts__text Не только встретим вас с душой и&nbsp;улыбкой, но и&nbsp;сделаем вечер классным и запоминающимся.
            .contacts__info
              a.contacts__link.contacts__link--address(href="#") 
                span.contacts__link-text Разъезжая&nbsp;26&nbsp;-&nbsp;28Б
          p.contacts__time Ежедневно с 12-00 до 02-00
