mixin menu(modifier)
  main.menu&attributes(attributes)#tabs
    h1.menu__title Меню
    ul.menu__list
      li.menu__item: a.menu__link(href="#1") Кальяны
      li.menu__item: a.menu__link(href="#2") Алкогольная карта
      li.menu__item: a.menu__link(href="#3") Салаты
      li.menu__item: a.menu__link(href="#4") Супы
      li.menu__item: a.menu__link(href="#5") Паста
      li.menu__item: a.menu__link(href="#6") Пицца
      li.menu__item: a.menu__link(href="#7") Бургеры
      li.menu__item: a.menu__link(href="#8") Горячее
      li.menu__item: a.menu__link(href="#9") Гарниры/закуски
      li.menu__item: a.menu__link(href="#10") Напитки
    .menu__products#1
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#2
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#3
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#4
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#5
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#6
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#7
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#8
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#9
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
    .menu__products#10
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf2.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf3.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")
      +product("tf1.jpg", "Название позиции", "Описание позиции", "Цена")