.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px;

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #010F01;
    transform: translateY(-110%);
    transition: 0.3s;
    visibility: hidden;
    &--open {
      transform: translateY(0%);
      visibility: visible;
    }
  }
  &__menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 56px;
  }
  &__menu-item {
    display: flex;
    margin-right: 16px;
  }
  &__menu-link {
    font-size: px-to-em(10);
    line-height: lh-to-pct(14, 10);
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
  }
  &__burger-btn {
    position: relative;
    width: 26px;
    height: 26px;
    padding: 8px 5px;
    border-radius: 7px;
    background-color: #B1F83C;
    z-index: 10;
    cursor: pointer;
    &--open {
      .header__burger-line:nth-child(1), .header__burger-line:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%;
      }
      .header__burger-line:nth-child(2) {
        transform: rotate(45deg);
      }
      .header__burger-line:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
  &__burger-line {
    position: absolute;
    left: 5px;
    width: 16px;
    height: 2px;
    border-radius: 10px;
    background-color: #010F01;
    transition: 0.3s;
    opacity: 1;
    transform: rotate(0deg);
    &:nth-child(1) {
      top: 7px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 12px;
    }
    &:nth-child(4) {
      top: 17px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__contact {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-size: px-to-em(8);
    line-height: lh-to-pct(10, 8);
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    &::before {
      content: "";
      width: 24px;
      height: 24px;
      margin-right: 5px;
      border-radius: 7px;
      border: 1.5px solid #275026;
      background-color: #275026;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &--phone {
      &::before {
        background-image: url(../img/phone-icon.svg);
      }
    }
    &--address {
      &::before {
        background-image: url(../img/local-icon.svg);
      }
    }
  }
  @media screen and (min-width: 360px) {
    &__menu-list {
      padding: 14px 12px 12px 56px;
    }
    &__menu-link {
      font-size: px-to-em(14);
    }
    &__burger-btn {
      width: 28px;
      height: 28px;
      &--open {
        .header__burger-line:nth-child(1), .header__burger-line:nth-child(4) {
          top: 13px;
        }
      }
    }
    &__burger-line {
      width: 18px;
      &:nth-child(2), &:nth-child(3) {
        top: 13px;
      }
      &:nth-child(4) {
        top: 19px;
      }
    }
    &__contact {
      font-size: px-to-em(10);
      &::before {
        content: "";
        width: 28px;
        height: 28px;
        margin-right: 6px;
        background-size: 14px 14px;
      }
    }
  }
  @media screen and (min-width: 460px) {
    &__contact {
      font-size: px-to-em(12);
      &::before {
        background-size: 16px 16px;
      }
    }
  }
  @media screen and (min-width: 576px) {
    max-width: 660px;
    &__menu-list {
      padding: 14px 12px 12px 58px;
    }
    &__menu-item {
      margin-right: 18px;
    }
    &__menu-link {
      font-size: px-to-em(16);
    }
    &__burger-btn {
      width: 30px;
      height: 30px;
      &--open {
        .header__burger-line:nth-child(1), .header__burger-line:nth-child(4) {
          top: 14px;
        }
      }
    }
    &__burger-line {
      width: 20px;
      &:nth-child(1) {
        top: 7px;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 14px;
      }
      &:nth-child(4) {
        top: 21px;
      }
    }
    &__contact {
      font-size: px-to-em(16);
      margin-left: 20px;
      &::before {
        width: 30px;
        height: 30px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 970px;
    padding: 30px 12px;
    &__menu {
      position: relative;
      width: auto;
      height: auto;
      background-color: transparent;
      transform: translateY(0%);
      visibility: visible;
    }
    &__burger-btn {
      display: none;
    }
    &__menu-list {
      padding: 0;
    }
    &__menu-item {
      margin-right: 24px;
    }
    &__menu-link {
      font-size: px-to-em(18);
      transition: 0.3s;
      &:hover {
        color: #FF540D;
      }
    }
    &__contact {
      margin-left: 24px;
      font-size: px-to-em(18);
      transition: 0.3s;
      &::before {
        width: 32px;
        height: 32px;
        background-size: 18px 18px;
        transition: 0.3s;
      }
      &:hover {
        color: #FF540D;
        &::before {
          background-color: transparent;
          border: 1.5px solid #FF540D;
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    max-width: 1000px;
    
    &__menu-item {
      margin-right: 30px;
    }
    &__menu-link {
      font-size: px-to-em(20);
    }
    &__contact {
      margin-left: 30px;
      font-size: px-to-em(20);
      &::before {
        width: 36px;
        height: 36px;
        background-size: 22px 22px;
      }
    } 
  }
  @media screen and (min-width: 1200px) {
    padding: 30px 80px 40px;
    max-width: 1140px;

    &__menu-item {
      margin-right: 36px;
    }
    &__menu-link {
      font-size: px-to-em(22);
    }
    &__contact {
      margin-left: 36px;
      font-size: px-to-em(22);
    } 
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;

    &__menu-link {
      font-size: px-to-em(24);
    }
    &__contact {
      font-size: px-to-em(24);
    } 
  }
}